@model dynamic

@{
    ViewBag.Title = "Testing Web API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:80%;margin:20px 10%;padding-bottom: 40px">
    <h1>Testing Mvc4 Web API</h1>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/api/values",
                dataType: "json",
                "text json": $.parseJSON,
                success: function (data) {
                    $.each(data, function () {
                        $("#output").append("Name: " + this.FullName + "&nbsp;&nbsp;(" + this.UserId + ")<br/>");
                    });
                    $("#raw-json").html("<h3>Raw JSON from /api/values</h3>" + JSON.stringify(data));
                }
            });
        });
    </script>
    <div id="output" style="margin: 20px 0;"></div>
    <div id="raw-json"></div>
</div>
